---
- name: Install NGINX
  become: yes
  action: apt pkg=nginx state=present

- name: Start nginx
  become: yes
  service:
      name: nginx
      state: started

- name: Copy nginx.conf file to /etc/nginx
  template: src=roles/checkbox_env/templates/nginx/nginx.conf dest=/etc/nginx/ owner=root mode=600
  become: yes

- name: Copy default.conf file to /etc/nginx/conf.d
  template: src=roles/checkbox_env/templates/nginx/default.conf dest=/etc/nginx/conf.d/ owner=root mode=600
  become: yes
